@import '../../../../assets/styles/screen-media-queries';

.ogm-form {
  text-align: center;
  padding: 0 10%;
  display: flex;
  margin: 1rem 0;
}

input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
  text-align: center;
  display: block;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  font-size: 250%;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  outline: none;
  color: #103183;

  &::placeholder {
    color: #e1e1e1;
  }

  @media #{$mat-lt-lg} {
    font-size: 180%;
  }

  @media #{$mat-lt-md} {
    font-size: 120%;
  }

  @media #{$mat-lt-sm} {
    font-size: 100%;
  }

  @media #{$mat-lt-xs} {
    font-size: 90%;
  }
}
