.ogm-form {
  text-align: center;
  padding: 0 10%;
}

input {
  text-align: center;
  width: 100%;
  margin: 1em 0;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  font-size: 2.5rem;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  outline: none;
  color: #103183;

  &::placeholder {
    color: #e1e1e1;
  }
}
