@use '../../../../assets/styles/screen-media-queries' as v;

.ogm {
  padding: 24px 24px;
  display: flex;
  background-color: #f8c9ba;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  justify-content: center;

  @media #{v.$mat-lt-xl} {
    padding: 16px 24px;
  }

  @media #{v.$mat-lt-md} {
    padding: 8px 24px;
  }

  &.valid {
    background-color: #b1f5b1;

    span {
      color: #14a114;
      border-color: #55dc55;
    }
  }

  &.invalid {
    background-color: #e76565;

    span {
      color: #ea5b2e;
      border-color: #b44f4f;
    }
  }

  span {
    flex: 0 0 auto;
    color: #103183;
    background-color: #fff;
    margin: 0 2px;
    font-size: 2rem;
    border: 3px solid #ea5b2e;
    border-radius: 6px;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 50px;

    @media #{v.$mat-lt-xl} {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 1.5rem;
      border-width: 2px;
      border-radius: 4px;
    }

    @media #{v.$mat-lt-lg} {
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 1.2rem;
    }

    @media #{v.$mat-lt-md} {
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin: 0 1px;
      font-size: 0.85rem;
      border-width: 1px;
    }

    @media #{v.$mat-lt-sm} {
      width: 18px;
      height: 18px;
      line-height: 18px;
      margin: 0 1px;
      font-size: 0.9rem;
    }

    @media #{v.$mat-lt-xs} {
      width: 13px;
      height: 13px;
      line-height: 13px;
      margin: 0 0.75px;
      font-size: 0.65rem;
      border: none;
      border-radius: 2px;
    }
  }
}
