<ogm-navigation></ogm-navigation>
<div class="main">
  <div class="content">
    <router-outlet></router-outlet>
    <mat-card class="wiki">
      <mat-card-content>
        <p>
          Een overschrijving met gestructureerde mededeling of OGM is een combinatie van drie groepen van drie, vier en
          vijf cijfers gescheiden door een schuine streep.
        </p>
        <p>
          Deze mededeling wordt in België vaak gebruikt om overschrijvingen automatisch te kunnen laten verwerken. Zo
          weet het computersysteem van de ontvanger onmiddellijk welke factuur betaald wordt. Op deze manier is er geen
          personeel nodig om te gaan kijken welke rekeningen vereffend werden.
        </p>
        <p>
          De eerste tien cijfers zijn bijvoorbeeld een klantennummer of een factuurnummer. De laatste twee cijfers
          vormen het controlegetal dat verkregen wordt door van de voorgaande tien cijfers de rest bij Euclidische
          deling door 97 te berekenen (modulo 97).
          <em>Uitzondering: Indien de rest 0 bedraagt, dan wordt als controlegetal 97 gebruikt.</em>
        </p>
        <p>Voor en achter de cijfers worden drie plussen (+++) of sterretjes (***) gezet.</p>
        <p>
          Bron:
          <a href="https://nl.wikipedia.org/wiki/Gestructureerde_mededeling" target="_blank" title="Source reference"
            >[wikipedia]</a
          >
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="copyright">
    <small
      >Developed with <fa-icon [icon]="['fas', 'heart']" [ngStyle]="{ color: 'red' }"></fa-icon> by
      <a href="https://twitter.com/maartentibau" target="_blank">Maarten Tibau</a>
      <span>&bull;</span>
      <a href="https://www.buymeacoffee.com/maartentibau" target="_blank"
        ><img src="assets/images/buy-me-a-coffee.svg" height="13" /> Buy me a coffee</a
      >
      <span>&bull;</span> Source code on
      <a href="https://github.com/maartentibau/gestructureerde-mededeling" target="_blank"
        ><fa-icon [icon]="['fab', 'github']" [ngStyle]="{ color: 'black' }"></fa-icon> GitHub</a
      >
    </small>
  </div>
</div>
