@use '../assets/styles/screen-media-queries' as v;

.content {
  flex: 0 1 auto;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;

  @media #{v.$mat-lt-sm} {
    padding: 0.7rem;
  }
}

.copyright {
  text-align: center;
  color: #595959;

  span {
    padding: 0 0.5rem;
  }

  a {
    color: #595959;
    text-decoration: none;
  }
}

mat-card.wiki {
  border-color: #efe897;
  background-color: #fffcd6;
  font-family: 'Lucida Console', Monaco, monospace;
  color: #5b5634;

  mat-card-content {
    font-size: 85%;

    .source-link {
      margin-left: 7px;
    }
  }
}
