@if (isSmallScreen$ | async) {
  <div class="controls">
    @if (refresh()) {
      <button mat-fab disableRipple color="primary" type="button" title="Verniewen" (click)="refreshClickHandler()">
        <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
      </button>
    }
    @if (copyNumber()) {
      <button
        class="ogm-copy"
        mat-fab
        disableRipple
        color="primary"
        type="button"
        title="Kopieer nummer"
        data-clipboard-action="copy"
        [attr.data-clipboard-text]="ogm()?.number"
        (click)="copyNumberClickHandler()"
      >
        <fa-icon [icon]="['fas', 'comment-dots']"></fa-icon>
      </button>
    }
    @if (copyOgm()) {
      <button
        class="ogm-copy"
        mat-fab
        disableRipple
        color="primary"
        type="button"
        title="Kopieer mededeling"
        data-clipboard-action="copy"
        [attr.data-clipboard-text]="ogm()?.numberFormat"
        (click)="copyOgmClickHandler()"
      >
        <fa-icon [icon]="['fas', 'money-check']"></fa-icon>
      </button>
    }
  </div>
} @else {
  <div class="controls large">
    @if (refresh()) {
      <button mat-raised-button disableRipple color="primary" (click)="refreshClickHandler()">
        <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>Vernieuwen
      </button>
    }
    @if (copyNumber()) {
      <button
        class="ogm-copy"
        mat-raised-button
        disableRipple
        color="primary"
        data-clipboard-action="copy"
        [attr.data-clipboard-text]="ogm()?.number"
        (click)="copyNumberClickHandler()"
      >
        <fa-icon [icon]="['fas', 'comment-dots']"></fa-icon>Kopieer nummer
      </button>
    }
    @if (copyOgm()) {
      <button
        class="ogm-copy"
        mat-raised-button
        disableRipple
        color="primary"
        data-clipboard-action="copy"
        [attr.data-clipboard-text]="ogm()?.numberFormat"
        (click)="copyOgmClickHandler()"
      >
        <fa-icon [icon]="['fas', 'money-check']"></fa-icon>Kopieer mededeling
      </button>
    }
  </div>
}
