mat-toolbar {
  background-color: #0c652b;
}

h1 {
  color: #fff;
}

nav {
  color: #fff;

  a {
    text-transform: uppercase;
    margin: 0 0.5em;

    &.mdc-button > ::ng-deep span.mdc-button__label {
      display: flex;
      justify-content: center;
      align-items: center;

      & > fa-icon {
        margin-right: 8px;
      }
    }

    &:hover:not(.mat-mdc-raised-button):not(.active) {
      background-color: #033313;
    }

    &.mat-mdc-raised-button {
      color: #216a38;

      &:hover {
        background-color: white;
      }
    }

    fa-icon {
      font-size: 1rem;
    }
  }
}
