<mat-toolbar>
  <mat-toolbar-row>
    <h1>
      <a mat-button routerLink="/" title="Gestructureerde Mededeling" aria-label="Ga terug naar de homepage">{{
        appTitle$ | async
      }}</a>
    </h1>
    <span class="flex-spacer"></span>
    <nav>
      @if (isSmallScreen$ | async) {
        @for (item of navigation$ | async; track item; let i = $index) {
          <a
            [attr.data-navigation-id]="i"
            mat-icon-button
            routerLinkActive="mat-mdc-raised-button"
            [routerLink]="item.path"
            [title]="item.title"
            ><fa-icon [icon]="item.icon"></fa-icon
          ></a>
        }
      } @else {
        @for (item of navigation$ | async; track item; let i = $index) {
          <a [attr.data-navigation-id]="i" mat-button routerLinkActive="mat-mdc-raised-button" [routerLink]="item.path"
            ><fa-icon [icon]="item.icon"></fa-icon>{{ item.label }}</a
          >
        }
      }
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
