/* You can add global styles to this file, and also import other style files */

:root {
  --mat-toolbar-container-text-color: #fff;
  --mat-button-protected-label-text-color: #fff;
  --mat-icon-button-icon-color: #fff;
  --mat-fab-foreground-color: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-spacer {
  flex: 1 1 auto;
}

::ng-deep.mat-simple-snackbar {
  > span {
    width: 100%;
    text-align: center;
  }
}
